[mysqld]

#DB語系
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

#log位置
log-error=/var/log/mariadb/err-mariadb.log

#最大連線數
max_connections=3000

#連線閒置時間
wait_timeout=3600
interactive_timeout=3600
